:root {
  font: 16px / 1 sans-serif;

  // SDG brand colors
  --asphalt: #2f3737;
  --bright-sky: #80ced2;
  --lime: #b1d133;
  --night-sky: #85577e;
  --sand: #f7f0da;
  --sea: #5a9090;
  --sun: #d5562b;
  --tangerine: #f99d1b;
}

html {
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: fit-content;
  min-height: 100%;
  background-color: #81b29a;
  padding-bottom: 7rem;
}

li {
  margin: 0;
  padding: 0;
  list-style: none;
  border: solid black 1px;
  height: 38px;
  width: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.taken {
  background-color: #80ced2 !important;
}

ul {
  border: 5px solid #242424;
  display: grid;
  grid-template: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr / 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 0.1;
  height: 20rem;
  width: 20rem;
  background-color: #f2cc8fcd;
  size: rem;
  padding-left: 0;
}

.font {
  --font: 16px / 1 sans-serif;
}

h1 {
  text-align: center;
  font-size: 3rem;
  padding-bottom: none;
  margin: 1rem;
  //text-shadow: 1px 1px #696462;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
}

button:hover {
  cursor: pointer;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.14), 0 6px 20px 0 rgba(0, 0, 0, 0.05);
}

button {
  // :hover {
  //   background-color: #242424;
  // }
  background: transparent;
  border: 2px solid #242424;
  border-radius: 9px;
  padding: 10px 50px;
  font-weight: bolder;
}
