:root {
  font: 16px / 1 sans-serif;
  font-family: 'Montserrat', sans-serif;

  // SDG brand colors
  --asphalt: #2f3737;
  --bright-sky: #80ced2;
  --lime: #b1d133;
  --night-sky: #85577e;
  --sand: #f7f0da;
  --sea: #5a9090;
  --sun: #d5562b;
  --tangerine: #f99d1b;
}

html {
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: fit-content;
  min-height: 100%;
  background-color: #242424;
  margin: 0;
}

h1 {
  text-align: center;
  font-size: 3rem;
  padding-bottom: 2rem;
  margin: 1rem;
  font-weight: 200;
  text-decoration: underline;
}

ul {
  border: 5px solid #242424;
  display: grid;
  grid-template: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr/ 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 0.1;
  height: fit-content;
  width: fit-content;
  background: transparent;
  padding-left: 0;
}

li {
  margin: 0;
  padding: 0;
  list-style: none;
  border: solid black 1px;
  height: 38px;
  width: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  // :hover {
  //   background-color: #242424;
  // }
  background: transparent;
  border: 2px solid #242424;
  border-radius: 9px;
  padding: 10px 30px;

  background-color: #81b29a71;
  margin-bottom: 1.5rem;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 1rem;
  margin-right: 1rem;
}

button:hover {
  cursor: pointer;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.14), 0 6px 20px 0 rgba(0, 0, 0, 0.05);
}

.rainbow-gradient {
  background: -moz-linear-gradient(
    right,
    orange,
    yellow,
    green,
    cyan,
    blue,
    violet
  );
  color: whitesmoke;
}

.flagged-bomb {
  background-color: #b1d133;
  font-size: smaller;
}

.game-container {
  border: solid black 10px;
  padding: 3rem;
  background-color: #e9edc9;
  width: fit-content;
  height: fit-content;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.flag {
  background: #e80707;
}
.taken {
  background-color: #81b29a71;
}
.bomb {
  background-color: whitesmoke;
}
.not-yet-clicked {
  background: #cdb4db;
}
