:root {
  font: 16px / 1 sans-serif;
  font-family: 'Montserrat', sans-serif;

  --easy-cell-size: 3rexpert--easy-board-size: 8;

  --intermediate-cell-size: 2rem;
  --intermediate-board-size: 16;

  --expert-cell-size: 1.5rem;
  --expert-board-size: 24;
}

html {
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: fit-content;
  min-height: 100%;
  background-color: #242424;
  margin: 0;
  //flex-direction: column;
}

h1 {
  text-align: center;
  font-size: 3rem;
  margin: 1rem;
  font-weight: 200;
  text-decoration: underline;
}

h2 {
  padding: 1rem;
  font-weight: 400;
  margin: 16px 0px;
}

ul {
  border: 5px solid #242424;
  display: grid;
  gap: 0.1;
  height: fit-content;
  width: fit-content;
  background: transparent;
  padding-left: 0;
&.difficulty-0{
  display: none
}
&.difficulty-8{
  grid-template: repeat(8, 1fr) / repeat(8, 1fr)
}
&.difficulty-16{
  grid-template: repeat(16, 1fr) / repeat(16, 1fr)
}
&.difficulty-24{
  grid-template: repeat(24, 1fr) / repeat(24, 1fr)
}

}


li {
  margin: 0;
  padding: 0;
  list-style: none;
  border: solid #f3e386 1.5px;
  height: 38px;
  width: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
  &.disabled {
    pointer-events:none; 
    opacity:0.7;
    text-emphasis-color: black;
    background-color: #335c67;  }       
}





button {
  // :hover {
  //   background-color: #242424;
  // }
  background: transparent;
  border: 2px solid #242424;
  border-radius: 9px;
  padding: 10px 30px;

  background-color: #81b29a71;
  margin: 3px;
}

.difficulty-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 1rem;
  margin-right: 1rem;
}

button:hover {
  cursor: pointer;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.14), 0 6px 20px 0 rgba(0, 0, 0, 0.05);
}


.flagged-bomb {
  background-color: #b1d133;
  font-size: smaller;
}

.game-container {
  border: solid black 10px;
  padding: 3rem;
  background-color: #faedcd;
  width: fit-content;
  height: fit-content;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.flag {
  background: #e80707;
}
.taken {
  background-color: #81b29a96;
}
.bomb {
  background-color: whitesmoke;
}
.not-yet-clicked {
  background: #335c67;
}


